* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  justify-items: center;
  align-items: center;
  background-color: #ccc;
}

.container {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  place-items: center;
  background-color: #fff;
  padding: 3rem 4rem;
  border: 0.2px solid #ccc;
  border-radius: 5px;
}
h1 {
  margin-bottom: 1.5rem;
}
.count {
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 100px;
  text-align: center;
  padding: 0 10px;
  height: 45px;
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 2rem;
  border: 2px solid rgb(163, 151, 151);
  border-radius: 3px;
}
.control {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}
.control button {
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: blue;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
}
.increment {
  background-color: rgb(63, 231, 63) !important;
}
.decrement {
  background-color: rgb(235, 31, 31) !important;
}
.reset {
  background-color: brown !important;
}
